  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
  


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  a {
      text-decoration: none;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 112px;
      border-bottom: 1px solid #EEEEF4;
  }

  .tepa_cap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 50px;
  }

  ul {
      display: flex;
      gap: 30px;
      list-style: none;
  }

  li>a {
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: var(--main-text, #101010);
  }

  .tepa_ong>button {
      color: white;
      display: inline-flex;
      padding: 12px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 6px;
      background: #101010;
      color: #FFF;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
  }

  .tepa_ong>button:hover {
      background-color: transparent;
      color: black;
      transition: all 0.15s;
  }

  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 92px 112px;
  }

  .first_section {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  .first_section_cap>h1 {
      color: #101010;
      font-family: Plus Jakarta Sans;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      width: 550px;
      margin-bottom: 20px;
  }

  .first_section_cap>p {
      color: #636F87;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 40px;
  }

  .first_section_cap {
      width: 550px;
      height: 434px;

  }

  .first_section_cap>button {
      display: flex;
      padding: 20px 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 6px;
      background: #1AAB7B;
      color: #FFF;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
  }

  .second_section_1 {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .second_section_1>p {
      margin: 206px;
      width: 383px;
      height: 50px;
      color: #101010;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      align-items: center;
      justify-content: center
  }

  .second_section_2>.box1 {
      width: 384px;
      height: 358px;
      border-radius: 6px;
      background: #1AAB7B;
      padding: 40px 30px;
  }

  .head1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #FFF;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 20px;
  }

  .head1>img {
      width: 30px;
      height: 30px;
  }

  .box1>p {
      color: #FFF;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 50px;
  }

  .box1>a {
      color: #FFF;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      font-variant: all-small-caps;
      text-decoration-line: underline;
  }

  .second_section_2 {
      display: flex;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
  }

  .box2 {
      width: 384px;
      height: 358px;
      border-radius: 6px;
      border: 2px solid #E1E7ED;
      background: #F2F4F6;
      padding: 40px 30px
  }

  .head2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

  }


  .head2>p {
      color: #101010;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
  }

  .box2>p {
      color: #636F87;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 23px;
  }

  .box2>a {
      color: #000;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      font-variant: all-small-caps;
  }

  .head3 {
      display: flex;
      color: #101010;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      align-items: center;
      justify-content: space-between
  }

  .box3 {
      width: 384px;
      height: 358px;
      border-radius: 6px;
      border: 2px solid #E1E7ED;
      padding: 40px 30px;
  }

  .box3>p {
      color: #636F87;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 23px;
  }

  .head3>p {
      margin-bottom: 20px;
  }

  .box3>a {
      color: #000;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      font-variant: all-small-caps;
  }

  .box4 {
      width: 384px;
      height: 358px;
      border-radius: 6px;
      border: 2px solid #E1E7ED;
      padding: 40px 30px;
  }

  .head4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #101010;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 20px;
  }

  .box4>p {
      color: #636F87;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 50px;
  }

  .box4>a {
      color: #000;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      font-variant: all-small-caps;
  }

  .box5 {
      width: 384px;
      height: 358px;
      border-radius: 6px;
      border: 2px solid #E1E7ED;
      padding: 40px 30px;
  }

  .head5 {
      display: flex;
      justify-content: space-between;
      color: #101010;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 20px;
  }

  .box5>p {
      color: #636F87;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 23px;
  }

  .box5>a {
      color: #000;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      font-variant: all-small-caps;
  }

  .smal1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #101010;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      margin: 115px 0 16px 0;
  }

  .smal2 {
      color: #636F87;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
  }


  .wrapper_form {
      width: 100%;
      background-image: url(./assets/img/image\ 1.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 560px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .wrapper_form>form {
      width: 565px;
      height: 434px;
      background-color: rgba(0, 0, 0, 0.73);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 37px 0;
      row-gap: 40px;
      line-height: normal;
  }

  .wrapper_form>form>input {
      border: none;
      background-color: transparent;
      width: 463.238px;
      height: 50px;
      border-bottom: 1px solid gray;
      outline: none;
      color: #FFF;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .wrapper_form>form>input::placeholder {
      color: #FFF;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .wrapper_form>form>button {
      display: flex;
      width: 217.143px;
      height: 59px;
      padding: 20px 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #1AAB7B;
      color: white;
  }

  .last {
      background-color: #000;
      color: white;
      width: 100%;
      height: 278px;
      display: flex;
      padding: 96px 235px 96px 112px;
      justify-content: space-between
  }

  .perviy>img {
      margin-bottom: 21px;
  }

  .perviy>p {
      color: var(--second-2, #A1A8B7);
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
  }

  .vtoroy {
      row-gap: 21px;
  }

  .vtoroy>b {
      color: var(--White, #FFF);
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .vtoroy>p {
      color: var(--second-2, #A1A8B7);
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
  }

  .tretiy>b {
      color: var(--White, #FFF);
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }



  .error{
    color: red;
  }